In [2]:
import os

# Set the working directory
os.chdir('/Users/giorgiocavallo/Desktop/Python/coursera/IBM_data_analysis')

# Get and print the new current working directory
current_directory = os.getcwd()
print(f"Current working directory: {current_directory}")

Current working directory: /Users/giorgiocavallo/Desktop/Python/coursera/IBM_data_analysis

In [3]:
## read the csv data
import pandas as pd
df = pd.read_csv('automobile.csv')
print(df.head())

   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0      111.0
1          130         mpfi  3.47    2.68               9.0      111.0
2          152         mpfi  2.68    3.47               9.0      154.0
3          109         mpfi  3.19    3.40              10.0      102.0
4          136         mpfi  3.19    3.40               8.0      115.0

   peak-rpm city-mpg  highway-mpg    price
0    5000.0       21           27  13495.0
1    5000.0       21           27  16500.0
2    5000.0       19           26  16500.0
3    5500.0       24           30  13950.0
4    5500.0       18           22  17450.0

[5 rows x 26 columns]

In [4]:
## exporting panda data frame to csv
df.to_csv('nuovo.csv', index=False, sep=';')

In [5]:
## checking datatypes
print(df.dtypes)

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [6]:
## returns a statistcal summary of the data
print(df.describe(include='all'))

         symboling  normalized-losses    make fuel-type aspiration  \
count   205.000000         164.000000     205       205        205
unique         NaN                NaN      22         2          2
top            NaN                NaN  toyota       gas        std
freq           NaN                NaN      32       185        168
mean      0.834146         122.000000     NaN       NaN        NaN
std       1.245307          35.442168     NaN       NaN        NaN
min      -2.000000          65.000000     NaN       NaN        NaN
25%       0.000000          94.000000     NaN       NaN        NaN
50%       1.000000         115.000000     NaN       NaN        NaN
75%       2.000000         150.000000     NaN       NaN        NaN
max       3.000000         256.000000     NaN       NaN        NaN

       num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
count           203        205          205             205  205.000000  ...
unique            2          5            3               2         NaN  ...
top            four      sedan          fwd           front         NaN  ...
freq            114         96          120             202         NaN  ...
mean            NaN        NaN          NaN             NaN   98.756585  ...
std             NaN        NaN          NaN             NaN    6.021776  ...
min             NaN        NaN          NaN             NaN   86.600000  ...
25%             NaN        NaN          NaN             NaN   94.500000  ...
50%             NaN        NaN          NaN             NaN   97.000000  ...
75%             NaN        NaN          NaN             NaN  102.400000  ...
max             NaN        NaN          NaN             NaN  120.900000  ...

        engine-size  fuel-system        bore      stroke compression-ratio  \
count    205.000000          205  201.000000  201.000000        205.000000
unique          NaN            8         NaN         NaN               NaN
top             NaN         mpfi         NaN         NaN               NaN
freq            NaN           94         NaN         NaN               NaN
mean     126.907317          NaN    3.329751    3.255423         10.142537
std       41.642693          NaN    0.273539    0.316717          3.972040
min       61.000000          NaN    2.540000    2.070000          7.000000
25%       97.000000          NaN    3.150000    3.110000          8.600000
50%      120.000000          NaN    3.310000    3.290000          9.000000
75%      141.000000          NaN    3.590000    3.410000          9.400000
max      326.000000          NaN    3.940000    4.170000         23.000000

        horsepower     peak-rpm    city-mpg  highway-mpg         price
count   203.000000   203.000000  205.000000   205.000000    201.000000
unique         NaN          NaN         NaN          NaN           NaN
top            NaN          NaN         NaN          NaN           NaN
freq           NaN          NaN         NaN          NaN           NaN
mean    104.256158  5125.369458   25.219512    30.751220  13207.129353
std      39.714369   479.334560    6.542142     6.886443   7947.066342
min      48.000000  4150.000000   13.000000    16.000000   5118.000000
25%      70.000000  4800.000000   19.000000    25.000000   7775.000000
50%      95.000000  5200.000000   24.000000    30.000000  10295.000000
75%     116.000000  5500.000000   30.000000    34.000000  16500.000000
max     288.000000  6600.000000   49.000000    54.000000  45400.000000

[11 rows x 26 columns]

In [7]:
## another way to get info about your dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [8]:
## Simple dataframe operations
df[['symboling']]

     symboling
0            3
1            3
2            1
3            2
4            2
..         ...
200         -1
201         -1
202         -1
203         -1
204         -1

[205 rows x 1 columns]

In [9]:
##check data types of the columns
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [10]:
## check columns names
print(df.columns)

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [13]:
## methods of normalizing data
## simple feature scaling
print(df)

     symboling  normalized-losses         make fuel-type aspiration  \
0            3                NaN  alfa-romero       gas        std
1            3                NaN  alfa-romero       gas        std
2            1                NaN  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
..         ...                ...          ...       ...        ...
200         -1               95.0        volvo       gas        std
201         -1               95.0        volvo       gas      turbo
202         -1               95.0        volvo       gas        std
203         -1               95.0        volvo    diesel      turbo
204         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0      111.0
1            130         mpfi  3.47    2.68               9.0      111.0
2            152         mpfi  2.68    3.47               9.0      154.0
3            109         mpfi  3.19    3.40              10.0      102.0
4            136         mpfi  3.19    3.40               8.0      115.0
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5      114.0
201          141         mpfi  3.78    3.15               8.7      160.0
202          173         mpfi  3.58    2.87               8.8      134.0
203          145          idi  3.01    3.40              23.0      106.0
204          141         mpfi  3.78    3.15               9.5      114.0

     peak-rpm city-mpg  highway-mpg    price
0      5000.0       21           27  13495.0
1      5000.0       21           27  16500.0
2      5000.0       19           26  16500.0
3      5500.0       24           30  13950.0
4      5500.0       18           22  17450.0
..        ...      ...          ...      ...
200    5400.0       23           28  16845.0
201    5300.0       19           25  19045.0
202    5500.0       18           23  21485.0
203    4800.0       26           27  22470.0
204    5400.0       19           25  22625.0

[205 rows x 26 columns]

0      3
1      3
2      1
3      2
4      2
      ..
200   -1
201   -1
202   -1
203   -1
204   -1
Name: symboling, Length: 205, dtype: int64

In [ ]:
## Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())